/* -----------------------Search Section----------------------- */

.searchOptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 20vw;
    padding-left: 20vw;
    background: #0f141e;
}

.searchBox {
    text-align: center;
    height: 100px;
    width: 100%;
    transition: all .3s;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2em;
    font-weight: 700;
    user-select: none;
    cursor: pointer;
}

.searchBox:hover {
    background-color: rgb(80, 80, 80);
}

/* -----------------------Media Queries----------------------- */

@media screen and (max-width: 1260px) {
    .searchOptions {
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 640px) {
    .searchBox {
        font-size: 1em;
        padding: 1em;
    }
}